# .env example

# REQUIRED:
# Used for building `url` in emails, routes, controllers
SERVICE_HOST=https://example.com/

# ------------------------------------------
# docker compose related section
# ------------------------------------------
# (optional)
# Specify command for docker compose: web.
# WEB_COMMAND=bundle exec foreman start -f ./Procfile.dev

# (optional)
# Specify web port on host.
# WEB_PORT=3000

# (optional)
# Specify db port on host.
# DB_PORT=5432

# (optional)
# Specify user in web.
# DOCKER_EXEC_USER=rails


# ------------------------------------------
# AI related section
# ------------------------------------------
# (optional)
# Specify when you use Anthropic API.
# ANTHROPIC_API_KEY=12345

# (optional)
# Specify when you use OpenAI API.
# OPENAI_API_KEY=12345
